<div class="cookbook-page">
  <div class="info-wrapper">
    <div class="cookbook-info">
      <div class="cookbook-image" [ngClass]="{ clickable: owner }" (click)="editCookbook()"></div>
      <div>
        <h5>Public: {{ cookbook.public }}</h5>
        <h1 class="clickable" [ngClass]="{ clickable: owner }" (click)="editCookbook()">
          {{ cookbook.title }} <span class="edit-button"><i class="far fa-edit"></i></span>
        </h1>
        <small>Created by: {{ cookbook.author }}</small>
        <div class="cookbook-description" [ngClass]="{ clickable: owner }" (click)="editCookbook()">{{ cookbook.description }}</div>
      </div>
    </div>
    <div class="cookbook-recipes">
      <h2>Recipes:</h2>
      <table class="cb-table">
        <tr>
          <th></th>
          <th>Recipe</th>
          <th><i class="far fa-calendar-alt"></i></th>
          <th></th>
        </tr>
        <tr class="cb-table-row" *ngFor="let recipe of cookbook.recipes; let i = index">
          <td><i class="far fa-heart"></i></td>
          <td>{{ recipe.recipe.title }}</td>
          <td>{{ recipe.timestamp }}</td>
          <td><i class="fas fa-times" (click)="removeRecipe(i)"></i></td>
        </tr>
      </table>
    </div>
  </div>
</div>
