.cookbook-page {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.clickable {
  cursor: pointer;
}

.info-wrapper {
  margin: auto;
  display: table;
}
.cookbook-info {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-top: 40px;
}
.cookbook-image {
  height: 200px;
  width: 200px;
  background-color: bisque;
  margin-right: 15px;
}
.edit-button {
  padding-left: 10px;
}
.cookbook-description {
  padding-top: 10px;
  width: 400px;
}
