<div class="history">
  <div class="wrapper">
    <h1>History</h1>
    <div class="breakLine"></div>
    <div class="searchArea" *ngIf="searchQueries.length">
      <div class="searchItem" (click)="searchQuery(query)" *ngFor="let query of searchQueries; let i = index">"{{ query }}"<i class="fas fa-times" (click)="$event.stopPropagation(); removeQuery(i)"></i></div>
    </div>
    <div class="breakLine" *ngIf="searchQueries.length"></div>
    <div class="historyArea">
      <div class="historyTile" *ngFor="let item of history">
        <div class="historyImage" (click)="viewItem(item)">
          <img *ngIf="item.cookbook == undefined" [ngClass]="{ hidden: !item?.recipe.image }" src="{{ generalService.getImageLink(item?.recipe.image) }}" #rImg />
          <img *ngIf="item.cookbook != undefined" [ngClass]="{ hidden: !item?.cookbook.image }" src="{{ generalService.getImageLink(item?.cookbook.image) }}" #rImg />
          <div class="historyOverlay"></div>
        </div>
        <div class="historyInfo">
          <h3 (click)="viewItem(item)" *ngIf="item.cookbook == undefined">{{ item.recipe.title }}</h3>
          <h3 (click)="viewItem(item)" *ngIf="item.cookbook != undefined">{{ item.cookbook.title }}</h3>
          <p *ngIf="item.cookbook == undefined">{{ item.recipe.description }}</p>
          <p *ngIf="item.cookbook != undefined">{{ item.cookbook.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
