<div class="dashboard">
  <!-- <div class="welcomeMessage"><label>Welcome back Thomas.</label></div> -->
  <div class="searchArea">
    <i class="fas fa-chart-line"></i>
    <div class="searchItem" (click)="searchQuery(query.query)" *ngFor="let query of dash?.searches; let i = index">"{{ query.query }}"</div>
  </div>
  <div class="wrapper">
    <div class="front wide" *ngFor="let library of dash?.libraries">
      <div class="topArea">
        <div class="cookbookTitle">
          <h3>{{ library.title }}</h3>
          <p>{{ library.description }}</p>
        </div>
        <div class="frontNav">
          <i class="fas fa-chevron-left" (click)="scrollCookbooks('left', ref)" [ngClass]="{ unclickable: cookbookPos === 'left' }"></i>
          <i class="fas fa-chevron-right" (click)="scrollCookbooks('right', ref)" [ngClass]="{ unclickable: cookbookPos === 'right' }" class="fas fa-chevron-right" style="margin-left: 15px; padding-right: 20px"></i>
        </div>
      </div>
      <div class="boxContainer">
        <div class="itemBox" *ngFor="let cookbook of library.cookbooks">
          <div class="tImage">
            <div class="tPic">
              <img [ngClass]="{ hidden: !cookbook?.image }" src="{{ generalService.getImageLink(cookbook?.image) }}" #rImg />
            </div>
            <div class="tImageOverlay" (click)="viewCookbook(cookbook)">
              <i class="tImageFav fas fa-heart" [ngClass]="{ saved: cookbook.saved == true }" (click)="$event.stopPropagation(); toggleSave(cookbook)"></i>
            </div>
          </div>
          <div class="tInfo">
            <h4 class="tInfo-title" (click)="viewCookbook(cookbook)">{{ cookbook.title }}</h4>
            <p>{{ cookbook.description }}</p>
            <p class="tFol">{{ cookbook.followers | number: ".2" }} followers.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="featured med">
      <h3>Feature recipes</h3>
      <div class="recipeCard">
        <div class="mainImg"></div>
        <div class="rInfo">
          <div class="rTitle">Snowman biscuits with icing on their faces and a hat as well. Lots of decoration and very delicious</div>
          <div class="rDetails">Thomas Bunyan ● <span>Snack</span> ● 2 days ago</div>
          <div class="rInteraction">
            <p>149 points</p>
            <p><i class="far fa-clock" style="padding-right:3px"></i>1:15</p>
            <p>Serves: <span style="font-weight: bold">20</span></p>
            <p>Easy</p>
            <div class="interactionButtons"><i class="fas fa-arrow-up"></i> <i class="fas fa-arrow-down"></i> <i class="fas fa-star"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="trending">
      <h3>Top recipes</h3>
      <div class="trendingList">
        <div class="trendItem" *ngFor="let recipe of dash?.top.day" (click)="viewRecipe(recipe)">
          <div class="trendInfo">
            {{ recipe.title }}
            <p>{{ recipe.description }}</p>
          </div>
          <div class="trendAmount">{{ recipe.views }}</div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="discoverMore">Scroll to discover more</div> -->
  <!-- <div class="moreRecipes"></div> -->
</div>
