mat-icon {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.breakLine {
  width: 100%;
  height: 2px;
  background-color: #eaeaea;
  border-radius: 25px;
}

.recipePage {
  width: 100%;
  min-height: calc(100vh - 60px);
  overflow: hidden;
  padding-bottom: 80px;
}
.recipePageArea {
  width: 1350px;
  margin: auto;
  padding-top: 30px;
}

/*** Top recipe information ***/
.recipeHeader {
  margin: auto;
  margin-bottom: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.recipeInfo {
  /* background-color: red; */
  text-align: center;
  width: 70%;
  margin: 20px auto;
}
.recipeInfo h1 {
  font-size: 50px;
}
.recipeInfo p {
  width: 80%;
  margin: auto;
}

.recipeInfoSmall {
  padding-top: 5px;
  font-size: 13px;
}

/*** Recipe image ***/
.mainImg {
  height: 350px;
  min-width: 350px !important;
  background-color: #f1f0f5;
  border-radius: 25px;
  position: relative;
}
.image {
  height: 350px;
  width: 350px !important;
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.hidden {
  visibility: hidden;
}

.imageOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 25px;
  opacity: 0;
  transition: all 0.15s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
}
.imageOverlay:hover {
  opacity: 1;
  transition: all 0.15s ease-in-out;
}
.imageOverlay p {
  margin: 10px 0;
}

/*** Recipe buttons ***/
.recipeButtons {
  font-size: 22px;
  display: flex;
  align-items: center;
  /* background-color: red; */
  /* padding: 10px; */
  margin-top: 30px;
  margin-bottom: 10px;
}
.recipeButtons i {
  margin: 0 12px;
  cursor: pointer;
}

/*** Recipe details ***/
.recipeDetails {
  margin: 10px 0;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(41, 41, 41);
  /* padding-left: 3ch;? */
}
.recipeDetails span {
  color: #5292ed;
}
.recipeDetails input {
  width: 3.5ch;
  font-size: 16px;
  font-family: "ProductSansRegular", sans-serif;
  color: #5292ed;
  background-color: rgb(231, 231, 231);
  border-radius: 8px;
  padding: 5px;
  margin-left: 3px;
  font-weight: bold;
}
.recipeDetails input:hover {
  color: #070707;
}

/*** Nutritional information ***/
.nutrition {
  width: 100%;
  /* height: 60px; */
  display: flex;
  flex-direction: row;
  padding: 8px;
}
.nut {
  margin: auto;
  font-size: 13px;
  border-radius: 8px;
  color: rgb(68, 68, 68);
  text-align: center;
  padding: 2px;
}

/*** Lower recipe information ***/
.recipeInformation {
  padding-top: 30px;
  padding-bottom: 200px;
  width: 80%;
  margin: auto;
}

.titles {
  width: 100%;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titles h1 {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.deselected {
  transition: all 0.2s ease-in-out;
  color: rgb(165, 165, 165);
}

.infoWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  scroll-behavior: smooth;
  transition: height 0.3s ease-in-out;
}

.infoPanel {
  height: auto;
  min-width: 100%;
  display: inline-block;
}
.infoPanel p {
  width: 50%;
  margin: auto;
  text-align: center;
}

/*** Similar recipes ***/
.simTitle {
  padding: 15px 0 0 40px;
}
.similarRecipes {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.recommendedRecipe {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.rImage {
  height: 200px;
  width: 200px;
  background-color: #f1f0f5;
  border-radius: 25px;
  cursor: pointer;
}
.rImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.rName {
  font-weight: bold;
  padding-top: 10px;
}
.rName:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*** Colours ***/
.upvote {
  color: #eb6c1a;
}
.downvote {
  color: #6664bd;
}
.saved {
  color: #eb4d44;
  /* f8c518 */
}
