mat-icon {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.noHighlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
mat-icon:hover {
  cursor: pointer;
}
li {
  list-style: none;
}

.dash {
  width: 100%;
  min-height: 100%;
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.content {
  width: 100%;
  height: 100%;
}
.search-bar {
  width: 100%;
  height: 120px;
  position: relative;
  z-index: 99 !important;
}
.bar {
  width: 60%;
  height: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease-in-out;
}
.sticky {
  position: fixed;
  width: 95%;
  top: 88px;
  transition: width 0.2s ease-in-out;
}
.search-input {
  width: 93%;
  padding: 5px;
  padding-left: 10px;
  font-family: "ProductSansRegular", sans-serif;
  font-size: 18pt;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(55, 0, 255, 0.3);
  background-color: #6046ff;
  color: #fff;
}
.search-input::placeholder {
  color: rgb(0, 2, 107);
}
.filter {
  /* position: element(#someLargerElement); */
  width: 40px;
  height: 100%;
  cursor: pointer;
  padding-left: 10px;
}
.filter-icon {
  display: table;
  font-size: 35px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.filter-menu {
  visibility: hidden;
  font-family: "ProductSansRegular", sans-serif;
  font-size: 12pt;
  opacity: 0;
  z-index: -10;
  border-radius: 10px;
  padding: 2px;
  overflow: hidden;
  background-color: #fff;
  height: 30px;
  width: 30px;
  position: absolute;
  /* right: 0px; */
  /* transform: translate(0%, -35px); */
  transition: all 0.2s ease-out 0s;
}
.showFilter {
  visibility: visible;
  transition: all 0.2s ease-in 0s;
  transform: translate(0%, 30%);
  opacity: 1;
  height: 30px;
  width: 130px;
  margin-right: -47px;
  z-index: 10;
}
.showTopOptions {
  height: 60px;
  width: 225px;
  margin-right: -95px;
  transition: all 0.2s ease-in 0s;
}
.filterSort,
.filterTime {
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 30px;
}
.sortItem,
.timeItem {
  color: #000;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}
.selectedItem {
  border-bottom: #000 solid 1px;
}
.main-area {
  position: relative;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
}
.recipes {
  margin: auto;
  min-height: 100%;
  width: 75%;
  padding-top: 10px;
  margin-bottom: 50px;
  padding-bottom: 40px;
  padding-top: 30px;
  border-top: 2px solid rgba(61, 61, 61, 0.301);
  border-bottom: 2px solid rgba(61, 61, 61, 0.301);
}
.newIcon {
  font-size: 18pt;
  padding-right: 10px;
  padding-top: 5px;
  /* color: #c6c6c6; */
  transition: all 0.15s ease-in-out;
}
.newIcon:hover {
  transform: scale(1.1);
  transition: all 0.15s ease-in-out;
}
.icoFilled {
  color: crimson;
  transition: all 0.15s ease-in-out;
}
.icoFilled:hover {
  color: #fff;
  transition: all 0.15s ease-in-out;
}
.upvote {
  color: #ff8b60;
}
.downvote {
  color: #9494ff;
}
.recipeTable {
  margin: auto;
  font-family: "ProductSansRegular", sans-serif;
  width: 95%;
}
.recipeItem {
  height: 40px;
  color: #000;
  border-bottom: 2px solid rgba(61, 61, 61, 0.301);
  border-collapse: collapse;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
th {
  padding-bottom: 10px;
}
.recipeItem:nth-child(1) {
  border-top: 2px solid rgba(61, 61, 61, 0.301);
}
tr:hover {
  background-color: #46464634;
}
thead > tr:hover {
  background-color: #46464600;
}
tr:hover .moreOptions {
  visibility: visible;
  transition: all 0s ease-in-out;
  transform: scale(1);
}
td {
  vertical-align: middle;
}
.moreOptions {
  visibility: hidden;
  transition: all 0s ease-in-out;
}
@media (max-width: 900px) {
  .recipeTable td:nth-child(1),
  .recipeTable th:nth-child(1) {
    display: none;
  }
  .recipeTable td:nth-child(3),
  .recipeTable th:nth-child(3) {
    display: none;
  }
  .recipeTable td:nth-child(4),
  .recipeTable th:nth-child(4) {
    display: none;
  }
  .recipeTable td:nth-child(5),
  .recipeTable th:nth-child(5) {
    display: none;
  }
}
.cookbookTitle {
  width: 65%;
  margin: auto;
  text-align: left;
  font-family: "ProductSansRegular", sans-serif;
  padding-left: 20px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.tTitle {
  display: inline-block;
}
.tNav {
  display: inline-block;
}
.cookbooks {
  max-width: 65%;
  max-height: 280px;
  border-top: rgba(61, 61, 61, 0.301) solid 2px;
  border-bottom: rgba(61, 61, 61, 0.301) solid 2px;
  padding: 5px;
  margin: auto;
  margin-bottom: 100px;
  white-space: nowrap;
  overflow: hidden;
}
.cookbook {
  padding: 10px;
  margin: 10px;
  display: inline-block;
  align-content: center;
}
.tImage {
  width: 170px;
  height: 170px;
  position: relative;
}
.tPic {
  width: 100%;
  height: 100%;
}
.tImageOverlay {
  width: 170px;
  height: 170px;
  background-color: rgba(39, 39, 39, 0.603);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}
.tImage:hover .tImageOverlay {
  transition: all 0.3s ease-in-out 0s;
  opacity: 1;
}
.tImageFav {
  font-size: 24pt;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.tInfo {
  width: 165px;
  padding-top: 5px;
  font-size: 10pt;
  margin: auto;
  text-align: left;
  font-family: "ProductSansRegular", sans-serif;
  white-space: normal;
}
.tFol {
  padding-top: 5px;
  font-size: 9pt;
}
.recipeTitle {
  width: 75%;
  margin: auto;
  text-align: left;
  font-family: "ProductSansRegular", sans-serif;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}
.rTitle {
  display: inline-block;
}
.scrollButton {
  color: rgb(71, 71, 71);
}
.scrollButton:hover {
  color: #000;
}
.unclickable,
.unclickable:hover {
  color: rgba(82, 82, 82, 0.445);
  cursor: default !important;
}
.moreOptionsPanel {
  width: 200px;
  min-height: 40px;
  position: absolute;
  background-color: #fff;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 12 !important;
  transform: translate(0, -150%);
}
.optionItem {
  width: 100%;
  height: 40px;
  transition: all 0.01s ease-in-out;
}
.optionItem:hover {
  background-color: #49494980;
  transition: all 0.01s ease-in-out;
}
/* .optionItem:hover:nth-child(1) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.optionItem:hover:nth-last-child(1):hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
} */
.hide {
  visibility: hidden;
  display: none;
}
.optionItemContent {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkIcon {
  padding-right: 5px;
}
.optionItemContent:hover .addToBook {
  visibility: visible;
}
.addToBook {
  visibility: hidden;
  width: 200px;
  min-height: 40px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 99%;
  top: 0;
  background-color: rgb(255, 255, 255);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: -3px 0px 29px -7px rgba(0, 0, 0, 0.59);
}
.cookBookSelector {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.addElement {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .addElementTop {
  border-top-right-radius: 5px;
}
.addElementBottom {
  border-bottom-right-radius: 5px;
}
.addElementElement {
} */
.addElementElement:nth-last-child(2) {
  border-bottom: rgba(61, 61, 61, 0.301) solid 1px;
}
.addElement:hover {
  background-color: #49494980;
}
