<div class="login">
  <nav id="nav">
    <div class="navLeft">
      <a href="#" class="logo">Recipeasy</a> <a [routerLink]="['/info']" class="subPoint">About</a> <a [routerLink]="['/info']" class="subPoint">How it works</a> <a [routerLink]="['/info']" class="subPoint">Contact</a>
    </div>
    <div class="navRight"><a class="subPoint" [routerLinkActive]="['active']" [routerLink]="['/register']">Register</a></div>
  </nav>
  <div class="content-area">
    <div class="loginForm" [ngClass]="{ show: !forgot }">
      <h1>Log in</h1>
      <form autocomplete="off">
        <div class="input-col">
          <input type="text" [(ngModel)]="username" name="username" class="input-field" placeholder="Username" />
        </div>
        <div class="input-col">
          <input type="password" [(ngModel)]="password" name="password" class="input-field" placeholder="Password" autocomplete="password" />
        </div>
        <div class="errorMessage">
          <p>{{ errorMessage }}</p>
        </div>
        <input class="loginButton" (click)="onLoginSubmit()" type="button" value="Log in" />
        <a class="forgot-button" (click)="forgot = !forgot">Forgot your username or password?</a>
        <a class="forgot-button" [routerLink]="['/register']">Don't have an account? Register!</a>
      </form>
    </div>
    <div class="loginForm" [ngClass]="{ show: forgot }">
      <h1 class="login-title">Recover</h1>
      <input class="input-field forgotInput" type="text" [(ngModel)]="recovery" name="recovery" placeholder="Email" />
      <input class="loginButton" (click)="onRecoverSubmit()" type="button" value="Send recovery" />
      <a class="forgot-button" (click)="forgot = !forgot">Go back.</a>
    </div>
  </div>
</div>
