.saved-recipes {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.recipe-card {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
  padding: 20px;
  width: 35vw;
  margin: 20px auto;
}

.recipe-table {
  width: 95%;
  font-family: inherit;
  margin: auto;
}

th,
td {
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
}

.element-row:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.end-column {
  text-align: right;
}

.remove {
  font-size: 13pt;
  display: flex;
  justify-content: center;
  width: 30px;
}
.remove:hover .fa-heart,
.remove .fa-times {
  display: none;
}
.remove:hover .fa-times {
  display: inline;
}
