/* .edit-area {
  width: 30vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}
.left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.recipeImage {
  border-radius: 25px;
}
.recipeImageWrapper {
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 25px;
}
.image {
  width: 175px;
  height: 175px;
  border-radius: 25px;
  background-color: #f1eff4;
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.recipeImageWrapper input[type="file"] {
  font-size: 1000px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.hidden {
  visibility: hidden;
}

.description-area {
  flex-grow: 1;
}

.input-area {
  position: relative;
  display: inline-flex;
  padding-bottom: 5px;
  width: 100%;
}
.input-field {
  background-color: #f1f0f5;
  border: 2px solid transparent;
  border-radius: 8px;
  flex-grow: 1;
  resize: none;
  font-size: 16px;
  width: 100%;
  font-weight: 200;
  padding: 10px 10px;
  transition: border 0.5s;
  font-family: inherit;
}
.private-toggle {
  height: 30px;
  background-color: cadetblue;
}

.button-area {
  padding-top: 10px;
  width: 100%;
}
.submit-button {
  float: right;
  font-family: inherit;
  outline: none;
  height: 40px;
  text-align: center;
  padding: 0px 20px;
  border-radius: 8px;
  background: #03a9f4;
  color: #fff;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
.submit-button:hover {
  background-color: #0984bd;
}
.cancel {
  background-color: #cc0033;
  margin-right: 10px;
}
.cancel:hover {
  background-color: #910b2c;
}

.public-switch {
  height: 35px;
  width: 100%;
  display: inline-table;
  border-radius: 8px;
  text-align: center;
}
.switch-button {
  display: table-cell;
  vertical-align: middle;
  background-color: #f1f0f5;
  color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 50%;
  height: 100%;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.switch-right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.switch-good {
  background-color: #03a9f4;
  color: #fff;
  transition: all 0.25s ease-in-out;
}
.switch-bad {
  background-color: #cc0033;
  color: #fff;
  transition: all 0.25s ease-in-out;
} */

.dialogWindow {
  height: 50vh;
  max-height: 550px;
  width: 350px;
  overflow: hidden;
  position: relative;
}
.scrollArea {
  overflow-y: auto;
  height: calc(100% - 100px);
  position: absolute;
  width: 100%;
  z-index: 1;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
}
.scrollArea h1 {
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}
.hideScrollArea {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

/*** Top buttons ***/
.topButtons {
  /* background-color: red; */
  margin: auto;
  height: 40px;
  width: 95%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
}
.topButtons i {
  cursor: pointer;
}

/*** Cookbook image ***/
.cookbookImage {
  border-radius: 25px;
  text-align: center;
}
.imageOverlay {
  width: 200px;
  height: 200px;
  border-radius: 25px;
  position: absolute;
  z-index: 100 !important;
  background-color: rgba(51, 51, 51, 0.664);
  opacity: 1;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 40px;
  pointer-events: none;
}
.oHidden {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.cookbookImageWrapper {
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 25px;
  margin: auto;
}
.image {
  width: 200px;
  height: 200px;
  border-radius: 25px;
  background-color: #f1eff4;
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.cookbookImageWrapper input[type="file"] {
  font-size: 1000px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/*** Public buttons ***/
.public-switch {
  height: 35px;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  display: inline-table;
  border-radius: 8px;
  text-align: center;
}
.switch-button {
  display: table-cell;
  vertical-align: middle;
  background-color: #f1f0f5;
  color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 50%;
  height: 100%;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.25s ease-in-out;
}
.switch-right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.switch-good {
  background-color: #03a9f4;
  color: #fff;
  transition: all 0.25s ease-in-out;
}
.switch-bad {
  background-color: #cc0033;
  color: #fff;
  transition: all 0.25s ease-in-out;
}

/*** Input fields ***/
.inputFields {
  width: 90%;
  margin: auto;
  margin-top: 15px;
}
.inputArea {
  position: relative;
  display: inline-flex;
  padding-bottom: 5px;
  width: 100%;
}
.inputField {
  background-color: #f1f0f5;
  border: 2px solid transparent;
  border-radius: 8px;
  flex-grow: 1;
  resize: none;
  font-size: 16px;
  width: 100%;
  font-weight: 200;
  padding: 10px 10px;
  transition: border 0.5s;
  font-family: inherit;
}

/*** Buttons ***/
.buttonArea {
  /* margin: 10px 0; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.submitButton {
  font-family: inherit;
  outline: none;
  height: 40px;
  text-align: center;
  padding: 0px 17px;
  border-radius: 8px;
  background: #03a9f4;
  color: #fff;
  /* letter-spacing: 1px; */
  /* text-shadow: 0; */
  font-size: 16px;
  /* font-weight: bold; */
  cursor: pointer;
  transition: all 0.25s ease;
}
.submitButton:hover {
  background-color: #43bbf3;
}
.cancel {
  background-color: #cc0033;
}
.cancel:hover {
  background-color: rgb(143, 12, 45);
}

/*** Colors and stuff ***/
.saved {
  color: #f1c921;
}

/*** General changes ***/
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.scrollArea::-webkit-scrollbar,
.cookbookList::-webkit-scrollbar {
  width: 4px;
}
.scrollArea::-webkit-scrollbar-thumb,
.cookbookList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ffffff00;
  margin: 2px 0;
}
.scrollArea:hover::-webkit-scrollbar-thumb,
.cookbookList:hover::-webkit-scrollbar-thumb {
  background-color: #dadada;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
