/*** Create ***/
.createPage {
  min-height: calc(100vh - 60px);
  width: 100%;
  overflow: hidden;
}
.wrapper {
  width: 1350px;
  /* min-height: 100%; */
  margin: auto;
  margin-bottom: 60px;
}
.wrapper h1 {
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 10px;
}

/*** Form area ***/
.formArea form {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}
.stepper {
  background-color: rgba(255, 255, 255, 0);
}
.mat-horizontal-content-container {
  height: 80vh !important;
}

.stepLabel {
  font-family: "ProductSansRegular", sans-serif;
}
.formInputArea {
  width: 100%;
  height: 500px;
}

/*** Inputs ***/
.inputContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputContainer label {
  color: #545454;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  display: inline-block;
  width: 70%;
  margin-bottom: 10px;
  text-align: center;
}
.leftLabel{
  width:100% !important;
  text-align: start !important;
}
.inputBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width:100%;
}
.inputBar input, .inputBar textarea {
  width: 100%;
  padding: 12px;
  background-color: #fff;
  border: 2px solid #f0f0f0;
  border-radius: 3px;
  transition: border 0.3s;
  resize: none;
  box-sizing: border-box;
  font-family: "ProductSansRegular", sans-serif;
  font-size: 16px;
}
.inputBar input:focus, .inputBar textarea:focus {
  border: 2px solid #03a9f4;
  transition: border 0.3s;
}
.inputBar textarea{
}
.inputBar i {
  color: #545454;
  position: absolute;
  right: 0;
  padding-right: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
  visibility: visible;
  opacity: 0;
  font-size: 20px;
}
.visible {
  opacity: 1 !important;
  transition: all 0.2s ease-in-out 0s;
}

/*** Name area ***/
.nameArea{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.nameImage{
  height: 250px;
  width: 250px;
  background-color: red;
}
.nameInput{
  margin-top: 40px;
  margin-bottom: 15px;
  display:flex;
  justify-content: center;
  width: 50%;
}
.nameInput input{
  font-family: "ProductSansRegular", sans-serif;
  border-bottom: #545454 2px solid;
  padding: 5px;
  font-size: 20px;
  width: 100%;
  text-align: center;
}
.nameButton{
  width: 100%;
  height: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.nameButton input{
  font-family: "ProductSansRegular", sans-serif;
  font-size: 22px;
  background-color: #3E7EF2;
  padding: 15px 40px;
  border-radius: 60px;
  color: #fff;
  cursor: pointer;
}

/*** Details ***/
.dArea {
  width: 720px;
  margin: auto;
  margin-top: 40px;
}
.dArea .inputContainer {
  margin-bottom: 20px;
}

/***************************************************************************************/

/*** Input areas ***/
.inputArea {
  font-family: "ProductSansRegular", sans-serif;
  min-height: 500px;
}
.inputArea h2 {
  font-size: 32px;
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
}
.inputArea label {
  font-size: 15px;
  /* text-decoration: underline; */
  color: #696969;
}

.detailArea {
  width: 50% !important;
  margin: auto;
}

.inputField {
  font-family: "ProductSansRegular", sans-serif;
  background-color: #ecf0f1;
  border: 2px solid transparent;
  border-radius: 8px;
  resize: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 200;
  /* margin: auto; */
  margin-top: 5px;
  padding: 10px;
  transition: border 0.5s;
}
.inputField:focus {
  border: 2px solid #03a9f4;
}

/*** Meal type area ***/
.mealTypeArea {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.mType {
  text-align: center;
  font-size: 14px;
}
.mTypeError {
  font-weight: bold;
  color: #cc0033;
}
.typeIcon {
  background-color: #eceff0;
  text-align: center;
  height: 175px;
  width: 175px;
  border-radius: 25px;
  margin: 20px 20px;
  cursor: pointer;
  border: transparent 2px solid;
  transition: border ease-in-out 0.15s;
}
.selectedMeal {
  border: 2px solid #03a9f4;
  transition: border ease-in-out 0.15s;
}

/*** Information area ***/
.informationArea {
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.informationArea .formSection {
  margin-right: 75px;
}

.recipeSkill {
  /* height: 80px; */
  overflow: hidden;
}
.skillSwitch {
  margin-top: 3px;
  margin-right: 25px;
  height: 46px;
  width: 300px;
  display: inline-table;
  border-radius: 8px;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.switch-button {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: #ecf0f1;
  color: rgba(0, 0, 0, 0.5);
  font-size: 17px;
  height: 100%;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.switch-good {
  background-color: #03a9f4;
  color: #fff;
  transition: all 0.25s ease-in-out;
}
.switch-med {
  background-color: #4caf50;
  color: #fff;
  transition: all 0.25s ease-in-out;
}
.switch-bad {
  background-color: #cc0033;
  color: #fff;
  transition: all 0.25s ease-in-out;
}

.recipeTime {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.cookTime {
  width: 90px;
  margin-right: 20px;
  /* background-color: #03a9f4; */
}
.cookTimeLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 5px !important;
}
.timeInput {
  width: 75px;
  padding: 10px;
  font-size: 17px;
  margin-top: 5px;
  text-align: center;
  background-color: #ecf0f1;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 8px;
  font-family: inherit;
}

.recipeServings {
  /* height: 75px; */
  width: 150px;

  /* padding-left: 45px; */
  /* float: left; */
}

.publicCheck {
  margin-left: 10px;
}

/*** Ingredients ***/
.addIngredients {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: space-around; */
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 10px;
}
.addIngredientButton {
  display: flex;
  height: 100%;
}

.ingredientContainer {
  flex-grow: 1;
  /* margin-right: 10px; */
  position: relative;
}

.ingredientContainer label {
  color: #545454;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.5px;
}
.ingredientField {
  font-family: "ProductSansRegular", sans-serif;
  background-color: #fff;
  border: 2px solid #f0f0f0;
  /* border-radius: 8px; */
  resize: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 200;
  padding: 12px;
  transition: border 0.5s;
  margin-top: 5px;
}
.ingredientField:focus {
  border: 2px solid #03a9f4;
}
.noflex {
  display: inline !important;
}

.ingredientDropdown {
  /* height: 200px; */
  max-height: 300px;
  background-color: #ecf0f1;
  position: absolute;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  z-index: 200 !important;
  overflow-y: auto;
}
.ingredientElement {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  color: rgb(75, 74, 74);
  text-transform: lowercase;
}
.ingredientElement:hover {
  background-color: #bdbdbd;
}

.smallField {
  width: 150px;
}

.button {
  width: 50px;
  height: 40px;
  border-radius: 8px;
  margin-left: 5px;
  background-color: #03a9f4;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 1.5em; */
  /* overflow: hidden; */
  cursor: pointer;
}

.emptyTable {
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
}
.etError {
  font-weight: bold;
  color: #cc0033;
}

/*** Ingredient table ***/
.ingredientTable {
  width: 70%;
  font-family: inherit;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
}
th,
td {
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
}
th {
  font-size: 13px;
}
td {
  font-size: 15px;
}
.elementRow:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.ingredientCol {
  width: 40%;
  text-transform: lowercase;
  text-transform: capitalize;
}
.detailCol {
  text-align: center;
}

.elementRow:hover .hiddenRow {
  opacity: 1;
}
.hiddenRow {
  opacity: 0;
}

/*** Method area ***/
.methodArea {
  /* background-color: red; */
}

.viewStep {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
}
.stepInfo {
  padding: 10px 0;
  margin-right: 20px;
  text-align: left;
}
.addIngredients {
  margin: auto;
  max-width: 800px;
}

.methodTable {
  width: 60%;
  font-family: inherit;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
}
.methodTable td {
  padding: 10px;
}
.endColumn {
  text-align: right;
}
.endColumn i {
  padding-right: 10px;
  color: rgba(255, 255, 255, 0);
}
.elementRow:hover .endColumn i {
  color: #000;
}
.narrow {
  width: 50px;
}

.methodButtons {
  display: inline-flex;
}

/*** Lower form area ***/
.lowerFormArea {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.stepButton {
  background-color: #eceeef;
  color: #777977;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
.continue {
  background-color: #03a9f4;
  color: #fff;
}

/*** Review area ***/
/*** Top recipe information ***/
.recipeHeader {
  margin: 30px auto;
  margin-bottom: 20px;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.recipeDetails {
  flex-grow: 1;
  /* height: 325px; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}
.recipeDetails h1 {
  margin: 0;
  font-size: 50px;
}
.recipeTitle {
  /* display: flex; */
  /* height: 100%; */
  /* flex-direction: column;
  justify-content: center; */
}
.recipeImage {
  border-radius: 25px;
}
.recipeImageWrapper {
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 25px;
}
.image {
  width: 250px;
  height: 250px;
  border-radius: 25px;
  background-color: #f1eff4;
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.recipeImageWrapper input[type="file"] {
  font-size: 1000px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/*** Lower recipe information ***/
.recipeInformation {
  display: flex;
  padding-top: 20px;
  flex-direction: row;
}
.half {
  width: 50%;
  text-align: center;
}

.methodList {
  width: 50%;
  margin: auto;
  text-align: left;
}

.ingredientsList {
  width: 50%;
  margin: auto;
  text-align: left;
}

/*** General elements ***/
.breakLine {
  width: 100%;
  height: 2px;
  background-color: #eaeaea;
  border-radius: 25px;
}

.error {
  color: #cc0033 !important;
  background-color: #fce4e4 !important;
  border: 2px solid #cc0033 !important;
}
.errorMessage {
  visibility: hidden;
  margin-top: 5px;
  color: #cc0033;
  font-size: 14px;
  padding-left: 5px;
}
.showErrorMessage {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
.pointer {
  cursor: pointer !important;
}

.formSection {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/*** Stepper configuration ***/
.mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
