<div class="createPage">
  <div class="wrapper">
    <h1>Create a recipe</h1>
    <div class="breakLine"></div>
    <div class="formArea">
      <form autocomplete="off">
        <mat-horizontal-stepper class="stepper" labelPosition="bottom" #stepper>
          <mat-step>
            <ng-template matStepLabel><span class="stepLabel">Type</span></ng-template>
            <div class="inputArea">
              <!-- ? Meal type -->
              <h2>Recipe type</h2>
              <div class="mealTypeArea">
                <div class="typeIcon" *ngFor="let meal of recipeTypes" (click)="mealType = meal; canContinue = true" [ngClass]="{ selectedMeal: mealType == meal }">{{ meal }}</div>
              </div>
              <div class="mType" [ngClass]="{ mTypeError: errors[0] == true }">Please select a general meal type.</div>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel><span class="stepLabel">Details</span></ng-template>
            <div class="inputArea">
              <!-- ? Details -->
              <h2>Details</h2>
              <div class="formSection">
                <label for="title">Title:</label>
                <input type="text" class="inputField" [(ngModel)]="title" [ngClass]="{ error: errors[0].err == true }" name="title" placeholder=" " maxlength="64" (keyup)="checkErrors(stepper, 0)" />
                <div class="errorMessage" [ngClass]="{ showErrorMessage: errors[0].err == true }">Error: {{ errors[0].msg }}</div>
              </div>
              <div class="formSection">
                <label for="description">Description:</label>
                <textarea
                  class="inputField"
                  rows="4"
                  type="text"
                  maxlength="192"
                  [(ngModel)]="description"
                  [ngClass]="{ error: errors[1].err == true }"
                  name="description"
                  placeholder=" "
                  (keyup)="checkErrors(stepper, 1)"
                ></textarea>
                <div class="errorMessage" [ngClass]="{ showErrorMessage: errors[1].err == true }">Error: {{ errors[1].msg }}</div>
              </div>
              <div class="informationArea">
                <div class="formSection">
                  <label for="difficulty">Difficulty:</label>
                  <div class="recipeSkill">
                    <div class="skillSwitch noselect" [ngClass]="{ error: errors[4].err == true }" (click)="checkErrors(stepper, 4)">
                      <div class="switch-button" style="width:25%; border-top-left-radius: 8px; border-bottom-left-radius: 8px;" [ngClass]="{ 'switch-med': difficulty == 0 }" (click)="difficulty = 0">Easy</div>
                      <div class="switch-button" style="width:50%" [ngClass]="{ 'switch-good': difficulty == 1 }" (click)="difficulty = 1">Intermediate</div>
                      <div class="switch-button" style="width:25%; border-top-right-radius: 8px; border-bottom-right-radius: 8px;" [ngClass]="{ 'switch-bad': difficulty == 2 }" (click)="difficulty = 2">Hard</div>
                    </div>
                  </div>
                  <div class="errorMessage" [ngClass]="{ showErrorMessage: errors[4].err == true }">Error: {{ errors[4].msg }}</div>
                </div>
                <div class="formSection">
                  <div class="recipeServings">
                    <label for="servings">Servings:</label>
                    <input
                      type="text"
                      class="inputField"
                      [(ngModel)]="servings"
                      [ngClass]="{ error: errors[5].err == true }"
                      name="servings"
                      placeholder="eg. 8"
                      (keydown)="enterInt($event)"
                      (keyup)="checkErrors(stepper, 5)"
                    />
                  </div>
                  <div class="errorMessage" [ngClass]="{ showErrorMessage: errors[5].err == true }">Error: {{ errors[5].msg }}</div>
                </div>
                <div class="formSection">
                  <label for="recipeTime">Recipe time:</label>
                  <div class="recipeTime">
                    <div class="cookTime">
                      <!-- <div class="cookTimeLabel"><i class="far fa-clock" style="padding-right: 5px;"></i> Prep</div> -->
                      <input
                        class="timeInput"
                        type="text"
                        [(ngModel)]="prepTime"
                        name="prepTime"
                        [ngClass]="{ error: errors[2].err == true }"
                        (keydown)="timeInput($event, 'prep')"
                        placeholder="00:00"
                        maxlength="5"
                        onpaste="return false"
                        (focusout)="clickOut('prep', prepTime); checkErrors(stepper, 2)"
                        (focusin)="prepTime = ''"
                      />
                    </div>
                    <div class="cookTime">
                      <!-- <div class="cookTimeLabel"><i class="far fa-clock" style="padding-right: 5px;"></i> Cook</div> -->
                      <input
                        class="timeInput"
                        type="text"
                        [(ngModel)]="cookTime"
                        name="cookTime"
                        [ngClass]="{ error: errors[3].err == true }"
                        (keydown)="timeInput($event, 'cook')"
                        placeholder="00:00"
                        maxlength="5"
                        onpaste="return false"
                        (focusout)="clickOut('cook', cookTime); checkErrors(stepper, 3)"
                        (focusin)="cookTime = ''"
                      />
                    </div>
                  </div>
                  <div class="errorMessage" [ngClass]="{ showErrorMessage: errors[2].err == true || errors[3].err == true }">Error: {{ errors[2].msg }} {{ errors[3].msg }}</div>
                </div>
              </div>
              <div class="formSection"><label for="public">Public:</label> <input class="publicCheck" type="checkbox" name="public" [(ngModel)]="public" /></div>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel><span class="stepLabel">Ingredients</span></ng-template>
            <div class="inputArea">
              <!-- ? Ingredients -->
              <h2>Ingredients</h2>
              <div>
                <div class="addIngredients" (keyup.enter)="addIngredient(food, amount, unit, ingField); food = ''; amount = ''; unit = ''">
                  <div class="ingredientContainer">
                    <input type="text" class="ingredientField" [(ngModel)]="food" [ngClass]="{ error: ingErrors[0].err == true }" name="food" placeholder="Ingredient" (keyup)="checkErrors(stepper, 0)" #ingField />
                    <div class="errorMessage" [ngClass]="{ showErrorMessage: ingErrors[0].err == true }">Error: {{ ingErrors[0].msg }}</div>
                  </div>
                  <div class="ingredientContainer">
                    <input
                      type="text"
                      class="ingredientField"
                      [(ngModel)]="detail"
                      [ngClass]="{ error: ingErrors[1].err == true }"
                      name="detail"
                      placeholder="Notes (eg. chopped, peeled, ect.)"
                      (keyup)="checkErrors(stepper, 1)"
                    />
                    <div class="errorMessage" [ngClass]="{ showErrorMessage: ingErrors[1].err == true }">Error: {{ ingErrors[1].msg }}</div>
                  </div>
                  <div class=" ">
                    <input type="text" class="ingredientField smallField" [(ngModel)]="amount" [ngClass]="{ error: ingErrors[2].err == true }" name="amount" placeholder="Amount" (keyup)="checkErrors(stepper, 2)" />
                    <div class="errorMessage" [ngClass]="{ showErrorMessage: ingErrors[2].err == true }">Error: {{ ingErrors[2].msg }}</div>
                  </div>
                  <div class=" ">
                    <input
                      list="acceptedUnits"
                      class="ingredientField smallField"
                      [(ngModel)]="unit"
                      [ngClass]="{ error: ingErrors[3].err == true }"
                      name="measureUnit"
                      placeholder="Unit"
                      (click)="unit = ''"
                      (keyup)="checkErrors(stepper, 3)"
                    />
                    <div class="errorMessage" [ngClass]="{ showErrorMessage: ingErrors[3].err == true }">Error: {{ ingErrors[3].msg }}</div>
                  </div>
                  <div class="">
                    <datalist id="acceptedUnits"><option *ngFor="let unit of units" data-value="{{ unit }}"></option></datalist>
                  </div>
                  <div class="addIngredientButton">
                    <div class="button" (click)="addIngredient(ingField)"><i class="fas fa-plus"></i></div>
                  </div>
                </div>
                <div class="addedIngredients">
                  <div class="emptyTable" *ngIf="ingredients.length == 0" [ngClass]="{ etError: ingErrors[4].err }">
                    Add some ingredients!
                  </div>
                  <table *ngIf="ingredients.length > 0" mat-table [dataSource]="dataSource" class="ingredientTable">
                    <ng-container matColumnDef="ingredient">
                      <th mat-header-cell *matHeaderCellDef>Ingredient</th>
                      <td mat-cell *matCellDef="let ingredient">{{ ingredient.food }}</td>
                    </ng-container>
                    <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef>Amount</th>
                      <td mat-cell *matCellDef="let ingredient">{{ ingredient.amount }}</td>
                    </ng-container>
                    <ng-container matColumnDef="unit">
                      <th mat-header-cell *matHeaderCellDef>Unit</th>
                      <td mat-cell *matCellDef="let ingredient">{{ ingredient.unit }}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['ingredient', 'amount', 'unit']"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: ['ingredient', 'amount', 'unit']" class="elementRow"></tr>
                  </table>
                </div>
                <div class="ingredient-error">{{ ingredientError }}</div>
              </div>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel><span class="stepLabel">Method</span></ng-template>
            <div class="inputArea">
              <!-- ? Method -->
              <h2>Method</h2>
              <div>
                <div class="methodArea">
                  <div class="addIngredients" (keyup.enter)="addStep(step); step = ''">
                    <textarea class="inputField" (keydown)="disableEnter($event)" rows="3" type="text" maxlength="184" [(ngModel)]="step" name="step" placeholder="Add a step"></textarea>
                  </div>
                  <div class="addedSteps">
                    <div *ngIf="method.length == 0" class="emptyTable" [ngClass]="{ etError: methErrors[0].err }">Add some instructions for your recipe!</div>
                    <table *ngIf="method.length > 0" mat-table [dataSource]="dataSource2" class="methodTable">
                      <ng-container matColumnDef="step">
                        <th mat-header-cell *matHeaderCellDef class="narrow">Step</th>
                        <td mat-cell *matCellDef="let step; let i = index" class="narrow">{{ i + 1 }}.</td>
                      </ng-container>
                      <ng-container matColumnDef="instruction">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let step">{{ step.step }}</td>
                      </ng-container>
                      <ng-container matColumnDef="remove">
                        <th mat-header-cell *matHeaderCellDef class="narrow endColumn"></th>
                        <td mat-cell *matCellDef="let step; let i = index" class="narrow endColumn"><i class="fas fa-times" (click)="removeStep(i)"></i></td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="['step', 'instruction', 'remove']"></tr>
                      <tr mat-row *matRowDef="let myRowData; columns: ['step', 'instruction', 'remove']" class="elementRow"></tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel><span class="stepLabel">Review</span></ng-template>
            <div class="inputArea">
              <div class="reviewArea">
                <div class="recipeHeader">
                  <div class="recipeDetails">
                    <div class="recipeTitle">
                      <h1>{{ title }}</h1>
                      <p>{{ description }}</p>
                    </div>
                  </div>
                  <div class="recipeImageWrapper">
                    <div class="recipeImage">
                      <img src="{{recipeImage}}" #rImg>
                    </div>
                    <input type="file" accept="image/png, image/jpeg" (change)="uploadImage($event, rImg)"/>
                  </div>
                </div>
                <div class="breakLine"></div>
                <div class="recipeInformation">
                  <div class="recipeIngredients half">
                    <div class="ingredientsList">
                      <h2>Ingredients</h2>
                      <p *ngFor="let ingredient of ingredients">{{ ingredient.food }}</p>
                    </div>
                  </div>
                  <div class="recipeMethod half">
                    <div class="methodList">
                      <h2>Method</h2>
                      <p *ngFor="let step of method; let i = index">{{ i + 1 }}. {{ step.step }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </div>
    <div class="breakLine"></div>
    <div class="lowerFormArea">
      <div class="stepButton" [ngClass]="{ hidden: stepper.selectedIndex == 0 }" (click)="prevPage(stepper)">Prev</div>
      <div class="stepButton" *ngIf="stepper.selectedIndex != 4" [ngClass]="{ continue: canContinue }" (click)="nextPage(stepper)">Next</div>
      <div class="stepButton" *ngIf="stepper.selectedIndex == 4" (click)="onRecipeSubmit()">Save</div>
    </div>
  </div>
</div>
