/*** Create ***/
.createPage {
  min-height: calc(100vh - 60px);
  width: 100%;
  overflow: hidden;
}
.wrapper {
  width: 1350px;
  /* min-height: 100%; */
  margin: auto;
  margin-bottom: 60px;
}
.wrapper h1 {
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 10px;
}

/*** Form area ***/
.formArea {
  width: 90%;
  /* min-height: 300px; */
  margin: 30px auto;
  /* padding: 20px 0; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: hidden;
  scroll-behavior: smooth;
}
.formPage {
  min-width: 100%;
  height: 100%;
  padding: 20px;
  margin: auto;
}

/*** Name area ***/
.nameArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nameImage {
  height: 300px;
  width: 300px;
  background-color: rgba(224, 215, 189, 0.336);
  border-radius: 50%;
  border: rgb(128, 128, 128) 5px solid;
  padding: 15px;
}
.nameImage img {
  height: 95%;
  width: 100%;
  object-fit: cover;
}
.nameInput {
  margin-top: 80px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  width: 60%;
}
.nameInput input {
  font-family: "ProductSansRegular", sans-serif;
  border-bottom: #707070 2px solid;
  padding: 5px;
  font-size: 28px;
  width: 100%;
  text-align: center;
}
.nameButton {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nameButton input {
  font-family: "ProductSansRegular", sans-serif;
  font-size: 22px;
  background-color: #3e7ef2;
  padding: 15px 40px;
  border-radius: 60px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.nameButton input:hover {
  background-color: #135ee7;
  transition: all 0.3s ease-in-out;
}
.nameButton span {
  margin-left: 10px;
}

/*** Description ***/
.descriptionInput {
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

/*********** OLD **************/

.stepper {
  background-color: rgba(255, 255, 255, 0);
}
.mat-horizontal-content-container {
  height: 80vh !important;
}

.stepLabel {
  font-family: "ProductSansRegular", sans-serif;
}
.formInputArea {
  width: 100%;
  height: 500px;
}

/*** Inputs ***/
.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputContainer label {
  color: #545454;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  display: inline-block;
  width: 70%;
  margin-bottom: 10px;
  text-align: center;
}
.leftLabel {
  width: 100% !important;
  text-align: start !important;
}
.inputBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.inputBar input,
.inputBar textarea {
  width: 100%;
  padding: 12px;
  background-color: #fff;
  border: 2px solid #f0f0f0;
  border-radius: 3px;
  transition: border 0.3s;
  resize: none;
  box-sizing: border-box;
  font-family: "ProductSansRegular", sans-serif;
  font-size: 16px;
}
.inputBar input:focus,
.inputBar textarea:focus {
  border: 2px solid #03a9f4;
  transition: border 0.3s;
}
.inputBar textarea {
}
.inputBar i {
  color: #545454;
  position: absolute;
  right: 0;
  padding-right: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
  visibility: visible;
  opacity: 0;
  font-size: 20px;
}
.visible {
  opacity: 1 !important;
  transition: all 0.2s ease-in-out 0s;
}

/*** Details ***/
.dArea {
  width: 720px;
  margin: auto;
  margin-top: 40px;
}
.dArea .inputContainer {
  margin-bottom: 20px;
}

/***************************************************************************************/

/*** Input areas ***/
.inputArea {
  font-family: "ProductSansRegular", sans-serif;
  min-height: 500px;
}
.inputArea h2 {
  /* font-size: 32px; */
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
}
.inputArea label {
  font-size: 15px;
  /* text-decoration: underline; */
  color: #696969;
}

.detailArea {
  width: 50% !important;
  margin: auto;
}

.inputField {
  font-family: "ProductSansRegular", sans-serif;
  background-color: #ecf0f1;
  border: 2px solid transparent;
  border-radius: 8px;
  resize: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 200;
  /* margin: auto; */
  margin-top: 5px;
  padding: 10px;
  transition: border 0.5s;
}
.inputField:focus {
  border: 2px solid #03a9f4;
}

/*** Meal type area ***/
.mealTypeArea {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.mType {
  text-align: center;
  font-size: 14px;
}
.mTypeError {
  font-weight: bold;
  color: #cc0033;
}
.typeIcon {
  background-color: #eceff0;
  text-align: center;
  height: 175px;
  width: 175px;
  border-radius: 25px;
  margin: 20px 20px;
  cursor: pointer;
  border: transparent 2px solid;
  transition: border ease-in-out 0.15s;
}
.selectedMeal {
  border: 2px solid #03a9f4 !important;
  transition: border ease-in-out 0.15s;
}

/*** Cuisine type area ***/
.cType {
  text-align: center;
  font-size: 14px;
}
.cTypeError {
  font-weight: bold;
  color: #cc0033;
}
.cuisineIcon {
  background-color: #eceff0;
  text-align: center;
  height: 90px;
  width: 175px;
  border-radius: 8px;
  margin: 15px 10px;
  cursor: pointer;
  border: transparent 2px solid;
  position: relative;
  transition: border ease-in-out 0.15s;
}
.cuisineIcon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.catOverlay {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  background-color: rgba(27, 27, 27, 0.308);
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.cuisineIcon:hover .catOverlay {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

/*** Information area ***/
.informationArea {
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.informationArea .formSection {
  margin-right: 75px;
}

.recipeSkill {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.skillSwitch {
  /* height: 46px; */
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.switch-button {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: #ecf0f1;
  color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  padding: 20px 50px;
  height: 100%;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.switch-good {
  background-color: #03a9f4;
  color: #fff;
  transition: all 0.25s ease-in-out;
}
.switch-med {
  background-color: #4caf50;
  color: #fff;
  transition: all 0.25s ease-in-out;
}
.switch-bad {
  background-color: #cc0033;
  color: #fff;
  transition: all 0.25s ease-in-out;
}

.recipeTime {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.timeArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.timeArea span {
  font-size: 40px;
}
.cookTime {
  width: 90px;
  margin-right: 20px;
  /* background-color: #03a9f4; */
}
.cookTimeLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 5px !important;
}
.timeInput {
  width: 200px;
  padding: 10px;
  font-size: 50px;
  margin-top: 5px;
  text-align: center;
  background-color: #ecf0f1;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 8px;
  font-family: inherit;
}

.recipeServingArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}
.recipeServings {
  width: 150px;
  height: 150px;
  font-size: 50px;
  padding: 20px;
  text-align: center;
}

.checkButton {
  display: flex;
  justify-content: center;
}
.publicCheck {
  margin-left: 5px;
  height: 18px;
  width: 18px;
  border: rgb(134, 134, 134) 2px solid;
  border-radius: 4px;
  background-color: rgb(211, 211, 211);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.check {
  font-size: 80%;
  opacity: 0;
  transition: all 0.1s ease-out;
}
.checkAppear {
  opacity: 1;
  transition: all 0.1s ease-in;
}

/*** Ingredients ***/
.addIngredients {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: space-around; */
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 10px;
}
.addIngredientButton {
  display: flex;
  height: 100%;
}

.ingredientContainer {
  flex-grow: 1;
  margin-top: 50px;
  position: relative;
}

.ingredientContainer label {
  color: #545454;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.5px;
}
.ingredientInputContainer {
  position: relative;
  display: flex;
  align-items: center;
}
.loadingRing {
  position: absolute;
  right: 0;
  margin-top: 5px;
  margin-right: 20px;
}
.ingredientField {
  position: absolute;
  font-family: "ProductSansRegular", sans-serif;
  background-color: #ecf0f1;
  border: 2px solid #949494;
  /* border-radius: 8px; */
  resize: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 200;
  padding: 12px;
  transition: border 0.5s;
}
.ingredientField:focus {
  border: 2px solid #03a9f4;
}
.noflex {
  display: inline !important;
}

.ingredientDropdown {
  /* height: 200px; */
  max-height: 300px;
  background-color: #ecf0f1;
  position: absolute;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  z-index: 200 !important;
  overflow-y: auto;
}
.ingredientElement {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  color: rgb(75, 74, 74);
  text-transform: lowercase;
}
.ingredientElement:hover {
  background-color: #bdbdbd;
}

.smallField {
  width: 150px;
}

.button {
  width: 50px;
  height: 40px;
  border-radius: 8px;
  margin-left: 5px;
  background-color: #03a9f4;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 1.5em; */
  /* overflow: hidden; */
  cursor: pointer;
}

.emptyTable {
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
}
.etError {
  font-weight: bold;
  color: #cc0033;
}

/*** Ingredient table ***/
.addedIngredients {
  margin-top: 15px;
}
.ingredientTable {
  width: 70%;
  font-family: inherit;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
}
th,
td {
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
}
th {
  font-size: 13px;
}
td {
  font-size: 15px;
}
.elementRow:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.ingredientCol {
  width: 40%;
  text-transform: lowercase;
  text-transform: capitalize;
}
.detailCol {
  text-align: center;
}

.elementRow:hover .hiddenRow {
  opacity: 1;
}
.hiddenRow {
  opacity: 0;
}

/*** Method area ***/
.methodArea {
  margin-top: 50px;
}

.viewStep {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
}
.stepInfo {
  padding: 10px 0;
  margin-right: 20px;
  text-align: left;
}
.addIngredients {
  margin: auto;
  max-width: 800px;
}

.methodTable {
  width: 60%;
  font-family: inherit;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
}
.methodTable td {
  padding: 10px;
}
.endColumn {
  text-align: right;
}
.endColumn i {
  padding-right: 10px;
  color: rgba(255, 255, 255, 0);
}
.elementRow:hover .endColumn i {
  color: #000;
}
.narrow {
  width: 50px;
}

.methodButtons {
  display: inline-flex;
}

/*** Review area ***/
/*** Top recipe information ***/
.recipeHeader {
  margin: auto;
  margin-bottom: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.recipeInfo {
  /* background-color: red; */
  text-align: center;
  width: 70%;
  margin-bottom: 20px;
}
.recipeInfo h1 {
  font-size: 50px;
  margin-top: 0;
}
.recipeInfo p {
  width: 80%;
  margin: auto;
}
.recipeDetails {
  margin: 20px auto;
}
.recipeDetails2 {
  font-size: 28px;
}

.recipeInformation {
  margin: 0 auto;
  width: 90%;
  display: flex;
}
.reviewPanel {
  width: 50%;
  min-width: 360px;
  text-align: center;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.saveRecipeButton {
  padding: 20px 40px;
  background-color: #03a9f4;
  display: inline-block;
  border-radius: 8px;
  color: #fff;
  font-size: 24px;
  letter-spacing: 0.5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.saveRecipeButton:hover {
  background-color: #1c93ca;
  transition: all 0.3s ease-in-out;
}

/*** Recipe image ***/
.mainImg {
  height: 350px;
  min-width: 350px !important;
  background-color: #f1f0f5;
  border-radius: 25px;
  position: relative;
  border: transparent 2px solid;
}
.image {
  height: 350px;
  width: 350px !important;
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.hidden {
  visibility: hidden;
}

/*** Image upload ***/
.imageOverlay {
  width: 350px;
  height: 350px;
  border-radius: 25px;
  position: absolute;
  z-index: 10 !important;
  background-color: rgba(51, 51, 51, 0.664);
  opacity: 1;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 40px;
  pointer-events: none;
}
.oHidden {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.rImageWrapper {
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 25px;
  margin: auto;
}
.rImageWrapper input[type="file"] {
  font-size: 1000px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/*** Lower form area ***/
.lowerFormArea {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.stepButton {
  background-color: #eceeef;
  color: #777977;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
.continue {
  background-color: #03a9f4;
  color: #fff;
}

/*** General elements ***/
.breakLine {
  width: 100%;
  height: 2px;
  background-color: #eaeaea;
  border-radius: 25px;
}

.error {
  color: #cc0033 !important;
  background-color: #fce4e4 !important;
  border: 2px solid #cc0033 !important;
}
.errorMessage {
  visibility: hidden;
  margin-top: 15px;
  color: #cc0033;
  font-size: 14px;
  padding-left: 5px;
  text-align: center;
}
.showErrorMessage {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
.pointer {
  cursor: pointer !important;
}

.formSection {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*** Css spinner credit:https://loading.io/css/ ***/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 3px;
  border: 3px solid rgb(56, 56, 56);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(56, 56, 56) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
