<div class="savedRecipes">
  <div class="wrapper">
    <div class="titleButtons">
      <h1 (click)="savedRecipes = true; createdRecipes = false; scroll(tableWrapper)" [ngClass]="{ deselected: !savedRecipes }">Saved recipes</h1>
      <h1 (click)="savedRecipes = false; createdRecipes = true; scroll(tableWrapper)" [ngClass]="{ deselected: !createdRecipes }">Created recipes</h1>
    </div>
    <div class="breakLine"></div>
    <div class="recipeCard">
      <div class="tableWrapper" #tableWrapper>
        <div class="tableArea">
          <div class="searchBar">
            <i class="fas fa-times" (click)="searchFilter = undefined; savedFilter = recipes.saved" [ngClass]="{ visible: searchFilter }"></i>
            <input [(ngModel)]="searchFilter" (keyup)="enterKey('saved')" name="searchFilter" type="text" />
          </div>
          <table mat-table [dataSource]="savedFilter" class="recipe-table" *ngIf="recipes?.saved.length">
            <ng-container matColumnDef="save">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let recipe">
                <div class="remove"><i class="fas fa-heart" (click)="$event.stopPropagation(); removeSaved(recipe)"></i><i class="fas fa-times" (click)="$event.stopPropagation(); removeSaved(recipe)"></i></div>
              </td>
            </ng-container>
            <ng-container matColumnDef="recipe">
              <th mat-header-cell *matHeaderCellDef>Recipe</th>
              <td mat-cell *matCellDef="let recipe" class="recipeColumn">{{ recipe.recipe.title }}</td>
            </ng-container>
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>Type</th>
              <td mat-cell *matCellDef="let recipe">{{ recipe.recipe.mealType }}</td>
            </ng-container>
            <ng-container matColumnDef="ellipsis">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let recipe" class="ellipColumn"><i class="fas fa-ellipsis-h" (click)="$event.stopPropagation(); openRecipeOptions(recipe.recipe)"></i></td>
            </ng-container>
            <ng-container matColumnDef="added">
              <th mat-header-cell *matHeaderCellDef class="endColumn" title="Added">Added<i class="far fa-calendar-alt"></i></th>
              <td mat-cell *matCellDef="let recipe" class="endColumn">{{ getTimeAgo(recipe.timestamp) }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['save', 'recipe', 'type', 'ellipsis', 'added']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['save', 'recipe', 'type', 'ellipsis', 'added']" (click)="viewRecipe(myRowData)" class="elementRow"></tr>
          </table>

          <div *ngIf="!recipes?.saved.length" class="noRecipe"><h2>No recipes saved. Go and add some.</h2></div>
        </div>

        <div class="tableArea">
          <div class="searchBar">
            <i class="fas fa-times" (click)="searchFilter2 = undefined; savedFilter2 = recipes.author" [ngClass]="{ visible: searchFilter2 }"></i>
            <input [(ngModel)]="searchFilter2" (keyup)="enterKey('author')" name="searchFilter2" type="text" />
          </div>
          <table mat-table [dataSource]="authorFilter" class="recipe-table" *ngIf="recipes?.author.length">
            <ng-container matColumnDef="save">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let recipe">
                <div class="remove"><i class="far fa-trash-alt" (click)="$event.stopPropagation(); removeCreated(recipe)"></i><i class="fas fa-times" (click)="$event.stopPropagation(); removeCreated(recipe)"></i></div>
              </td>
            </ng-container>
            <ng-container matColumnDef="recipe">
              <th mat-header-cell *matHeaderCellDef>Recipe</th>
              <td mat-cell *matCellDef="let recipe" class="recipeColumn">{{ recipe.recipe.title }}</td>
            </ng-container>
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>Type</th>
              <td mat-cell *matCellDef="let recipe">{{ recipe.recipe.mealType }}</td>
            </ng-container>
            <ng-container matColumnDef="ellipsis">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let recipe" class="ellipColumn"><i class="fas fa-ellipsis-h" (click)="$event.stopPropagation(); openRecipeOptions(recipe.recipe)"></i></td>
            </ng-container>
            <ng-container matColumnDef="added">
              <th mat-header-cell *matHeaderCellDef class="endColumn" title="Added">Added<i class="far fa-calendar-alt"></i></th>
              <td mat-cell *matCellDef="let recipe" class="endColumn">{{ getTimeAgo(recipe.timestamp) }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['save', 'recipe', 'type', 'ellipsis', 'added']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['save', 'recipe', 'type', 'ellipsis', 'added']" (click)="viewRecipe(myRowData)" class="elementRow"></tr>
          </table>

          <div *ngIf="!recipes?.author.length" class="noRecipe">
            <h2>No recipes saved. Go and add some.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
