/*** Recipes search window ***/
.recipes {
  width: 100%;
  min-height: calc(100vh - 60px);
}

@media only screen and (min-width: 1600px) {
  .pageArea {
    width: 1350px;
    margin: auto;
  }
}
@media only screen and (max-width: 1599px) {
  .pageArea {
    width: 95%;
    margin: auto;
  }
}
@media only screen and (max-width: 550px) {
  .recipeCard {
    width: 100%;
  }
}

.breakLine {
  width: 100%;
  height: 2px;
  background-color: #eaeaea;
  border-radius: 25px;
}

.headerArea {
  padding: 40px 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.headerArea div span {
  padding-left: 5px;
}
.refineFilter {
  cursor: pointer;
}

/*** Filter area ***/
.filterArea {
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s ease-in-out 0s;
}
.filterOpen {
  max-height: 400px;
  transition: all 0.5s ease-in-out 0s;
}
.filterOptions {
  padding-top: 15px;
  padding-bottom: 20px;
}

.filterOptions input,
label {
  display: block;
  font-size: 16px;
  font-family: "ProductSansRegular", sans-serif;
}
.filterOptions input {
  padding: 10px;
  margin-top: 3px;
  border-radius: 8px;
  background-color: #f1f0f5;
  box-sizing: border-box;
  width: 100%;
}
.formElRow {
  display: flex;
  flex-direction: row;
}
.formElRow .formEl {
  margin-right: 30px;
}
.formEl {
  margin: 5px 0;
}

.filterBtns {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.filterBtns div {
  padding: 9px 15px;
  color: #fff;
  background-color: #4286f5;
  border-radius: 8px;
  cursor: pointer;
}
.resetBtn {
  background-color: #f1f1f5 !important;
  color: rgb(97, 97, 97) !important;
}

/***  Cookbooks ***/
.cookbookArea {
  /* height: 300px; */
  width: 100%;
  /* background-color: red; */
  /* padding: 5px 0; */
}
.cookbookArea h4 {
  padding-top: 10px;
  padding-bottom: 15px;
}
.cookbookTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cookbookTitle i {
  cursor: pointer;
}
.showMore {
  font-size: 12px;
  font-weight: normal;
  align-self: baseline;
  padding-left: 5px;
  cursor: pointer;
}
.showMore:hover {
  text-decoration: underline;
}

.boxContainer {
  /* height: fit-content; */
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding-bottom: 10px;
}
/*** Style for the image boxes ***/
.itemBox {
  margin-right: 20px;
  width: 210px;
}
.tImage {
  width: 210px;
  height: 210px;
  margin: auto;
  position: relative;
  cursor: pointer;
}
.tPic {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: #f1f1f5;
}
.tImageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(39, 39, 39, 0.6);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  border-radius: 25px;
}
.tImage:hover .tImageOverlay {
  transition: all 0.3s ease-in-out 0s;
  opacity: 1;
}
.image {
  width: 100%;
  height: 100%;
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.tImageFav {
  font-size: 24pt;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  cursor: default;
}

.tInfo {
  padding-top: 5px;
  font-size: 10pt;
  text-align: left;
  font-family: "ProductSansRegular", sans-serif;
}
.tInfo-title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.tInfo h4 {
  padding-bottom: 10px;
}
.tFol {
  margin-top: 10px;
  font-size: 9pt;
}

/*** Recipes ***/
.recipeArea h4 {
  padding-top: 10px;
  padding-bottom: 15px;
}
.recipeGrid {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  padding-top: 20px;
}
.recipeCard {
  background-color: #fff;
  width: 300px;
  border-radius: 25px;
  margin-bottom: 40px;
  border: rgb(230, 230, 230) solid 1px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
}
.mainImg {
  height: 175px;
  background-color: #f1f0f5;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  cursor: pointer;
}
.rInfo {
  padding: 15px;
}
.rTitle {
  font-size: 16px;
  font-weight: bold;
}
.rDetails {
  font-size: 12px;
  padding-top: 3px;
}
.rDetails span {
  color: #4286f5;
}
.rInteraction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-size: 14px;
  margin: 15px 0;
}

.interactionButtons i {
  margin-right: 20px;
  padding: 5px;
  font-size: 19px;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
}

.upvote {
  color: #eb6c1a;
  transition: all 0.2s ease-in-out 0s;
}
.downvote {
  color: #6664bd;
  transition: all 0.2s ease-in-out 0s;
}
.saved {
  color: #f8c518;
  transition: all 0.2s ease-in-out 0s;
}

/*** Bottom of page ***/
.endOfPage {
  padding-top: 15px;
  padding-bottom: 30px;
  text-align: center;
  color: rgb(107, 107, 107);
}
.loadingSpinner {
  padding-top: 15px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #4286f5;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}

/*** General ***/

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  visibility: hidden;
}
