/*** Recipes search window ***/
.recipes {
  width: 100%;
  min-height: calc(100vh - 60px);
}

@media only screen and (min-width: 1600px) {
  .pageArea {
    width: 1350px;
    margin: auto;
  }
}
@media only screen and (max-width: 1599px) {
  .pageArea {
    width: 95%;
    margin: auto;
  }
}
@media only screen and (max-width: 550px) {
  .recipeCard {
    width: 100%;
  }
}

.breakLine {
  width: 100%;
  height: 2px;
  background-color: #eaeaea;
  border-radius: 25px;
}

.headerArea {
  padding: 40px 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.headerArea div span {
  padding-left: 5px;
}
.refineFilter {
  cursor: pointer;
}

/***  Cookbooks ***/
.cookbookArea {
  /* height: 300px; */
  width: 100%;
  /* background-color: red; */
  /* padding: 5px 0; */
}
.cookbookArea h4 {
  padding-top: 10px;
  padding-bottom: 15px;
}
.cookbookTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showMore {
  font-size: 12px;
  font-weight: normal;
  align-self: baseline;
  padding-left: 5px;
  cursor: pointer;
}
.showMore:hover {
  text-decoration: underline;
}

.boxContainer {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  padding-bottom: 10px;
}
/*** Style for the image boxes ***/
.itemBox {
  /* border: 1px rgb(219, 219, 219) solid; */
  margin-right: 20px;
  width: 210px;
  height: 275px;
}
.tImage {
  width: 210px;
  height: 210px;
  margin: auto;
  position: relative;
  cursor: pointer;
}
.tPic {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: #f1f1f5;
}
.tImageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(39, 39, 39, 0.6);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  border-radius: 25px;
}
.tImage:hover .tImageOverlay {
  transition: all 0.3s ease-in-out 0s;
  opacity: 1;
}
.tImageFav {
  font-size: 24pt;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  cursor: default;
}

.tInfo {
  padding-top: 5px;
  font-size: 10pt;
  text-align: left;
  font-family: "ProductSansRegular", sans-serif;
  /* white-space: normal; */
}
.tInfo-title {
  /* display: inline-block; */
}
.tInfo-title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.tFol {
  margin-top: 5px;
  font-size: 9pt;
}

/*** Recipes ***/
.recipeArea {
}
.recipeArea h4 {
  padding-top: 10px;
  padding-bottom: 15px;
}
.recipeGrid {
  /* background-color: red; */
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  padding-top: 20px;
}
.recipeCard {
  background-color: #fff;
  width: 400px;
  height: 290px;
  border-radius: 25px;
  margin-bottom: 30px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}
.recipeCard:hover {
  /* transform: scale(1.04); */
  transition: all 0.3s ease-in-out 0s;
}
.mainImg {
  height: 55%;
  background-color: #f1f0f5;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.rInfo {
  height: 45%;
  padding: 15px;
}
.rTitle {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.rDetails {
  font-size: 12px;
  padding: 3px 0;
}
.rDetails span {
  color: #4286f5;
}
.rInteraction {
  /* background-color: rgba(255, 0, 0, 0.308); */
  height: 30px;
  width: 95%;
  position: absolute;
  bottom: 15px;
  left: 0;
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
}
.interactionButtons i {
  margin: 0 7px;
  font-size: 18px;
  cursor: pointer;
}

.upvote {
  color: #eb6c1a;
}
.downvote {
  color: #6664bd;
}
.saved {
  color: #f8c518;
}
