<div class="wrapper">
  <div class="infoCard">
    <h1>FAQs</h1>
    <div class="infoSection">
      <h3>About</h3>
      <p>Recipeasy is a web application which aims to provide users with a unique cooking experience. It was made as part of my final year project.</p>
      <h3>Features</h3>
      <p>
        The application allows for creation, saving and discovery of recipes. Management by adding recipes to cookbooks; a unique method to create lists of recipes as well as a method to recommend to users recipes which
        might be of interest to them.
      </p>
      <h3>Privacy and terms</h3>
      <p>
        The application makes use of cookies. Therefore by making an account you consent to the use of these session tracking cookies.
      </p>
      <h3>Help</h3>
      <p>
        In the face of issues, requests regarding the application should be directed towards: recipe@email.com
      </p>
      <h3>Author</h3>
      <p>Thomas Bunyan.</p>
      <h3>Contact</h3>
      <p>thomaspaulbunyan@gmail.com</p>
    </div>
  </div>
</div>
