<div class="register">
  <div class="content-area">
    <div class="register-form">
      <h1 class="register-title">Register</h1>
      <form autocomplete="off">
        <div class="input-col">
          <input type="text" [(ngModel)]="username" name="username" class="input-field" [ngClass]="{ error: specificError[0], success: specificError[0] == false }"
          placeholder="username" (focusout)="checkField('username')" />
          <label class="errorMessage" *ngIf="specificError[0]">
            {{specificMessage[0]}}
          </label>
        </div>
        <div class="input-col">
          <input type="text" [(ngModel)]="email" name="email" class="input-field" [ngClass]="{ error: specificError[1], success: specificError[1] == false }"
          placeholder="email" autocomplete="email" (focusout)="checkField('email')" />
          <label class="errorMessage" *ngIf="specificError[1]">
            {{specificMessage[1]}}
          </label>
        </div>
        <div class="input-col">
          <input type="text" [(ngModel)]="emailConf" name="emailConf" class="input-field" [ngClass]="{ error: specificError[2], success: specificError[2] == false }"
          placeholder="confirm email" autocomplete="no" (focusout)="checkField('emailConf')" />
          <label class="errorMessage" *ngIf="specificError[2]">
            {{specificMessage[2]}}
          </label>
        </div>
        <div class="input-col">
          <input type="password" [(ngModel)]="password" name="password" class="input-field" [ngClass]="{ error: specificError[3], success: specificError[3] == false }"
          placeholder="password" autocomplete="new-password" (focusout)="checkField('password')" />
          <label class="errorMessage" *ngIf="specificError[3]">
            {{specificMessage[3]}}
          </label>
        </div>
        <input class="register-button" (click)="onRegisterSubmit()" type="button" value="Register" />
        <a class="forgot-button" [routerLinkActive]="['active']" [routerLink]="['/login']">Already have an account? Log
          In!</a>
      </form>
    </div>
  </div>
</div>