.windowWrapper {
  /******* Vars *******/
  --nav-height: 60px;

  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: red;
}

.nav {
  height: var(--nav-height);
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 100 !important;
  box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05);
}

.container {
  min-height: calc(100vh - var(--nav-height));
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: var(--nav-height);
}
.containerNavless {
  min-height: 100vh;
  margin: 0;
}

.content {
  min-height: calc(100vh - var(--nav-height));
  max-width: 100vw;
  overflow: hidden;
}

mat-sidenav {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}
