<div class="windowWrapper">
  <mat-sidenav-container autosize>
    <mat-sidenav *ngIf="authService.loggedIn()" #sidenav mode="side" opened="true" [ngClass]="{ big: big }">
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content [ngClass]="{ bigCont: big, sidenavLO: !authService.loggedIn() }">
      <div class="nav" *ngIf="authService.loggedIn()" [ngClass]="{ bigNav: big }">
        <app-navbar></app-navbar>
      </div>
      <div class="container" [ngClass]="{ containerLO: !authService.loggedIn() }">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
