.windowWrapper {
  /******* Vars *******/
  --nav-height: 60px;
  --sidenav-small: 60px;
  --sidenav-big: 300px;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.nav {
  height: var(--nav-height);
  width: calc(100vw - var(--sidenav-small));
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 100 !important;
  transition: all 0.3s ease-in-out 0.1s;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.09), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.08);
}
.bigNav {
  width: calc(100vw - var(--sidenav-big));
  transition: all 0.3s ease-in-out 0.1s;
}

.container {
  min-height: calc(100vh - var(--nav-height));
  margin-top: var(--nav-height) !important;
  width: 100%;
  margin: 0;
  padding: 0;
}

.containerLO {
  min-height: 100vh;
  margin: 0 !important;
}
.sidenavLO {
  min-width: 100vw;
  margin: 0 !important;
}

/*** Sidenav ***/
mat-sidenav {
  min-width: var(--sidenav-small);
  max-width: var(--sidenav-small);
  width: var(--sidenav-small);
  transition: all 0.3s ease-in-out 0.1s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.big {
  min-width: var(--sidenav-big) !important;
  max-width: var(--sidenav-big) !important;
  width: var(--sidenav-big) !important;
  transition: all 0.3s ease-in-out 0.1s;
}

/*** Content area ***/
mat-sidenav-content {
  max-width: 100vw;
  overflow: hidden;
  transition: all 0.3s ease-in-out 0.1s;
  margin-left: var(--sidenav-small) !important;
}
.bigCont {
  margin-left: var(--sidenav-big) !important;
  transition: all 0.3s ease-in-out 0.1s;
}
