<div class="home">
  <div class="wrapper">
    <nav id="nav">
      <div class="navLeft"><a href="/" class="logo"># Recipeasy</a></div>
      <div class="navRight">
        <a href="#" class="subPoint">About</a>
        <a href="#" class="subPoint">Features</a> <a href="#" class="subPoint">Contact</a>
        <a class="subPoint btnSmall" [routerLinkActive]="['active']" [routerLink]="['/login']">Login</a>
      </div>
    </nav>
    <div class="landingArea">
      <div class="landingLeft">
        <div class="slogan">
          <h1>Recipes made easy.</h1>
          <p>Some text in gdlkn hrte to fil thr ganm fdkd fpfkdjsedsjekljs sldfjlskd but that osnt mesan hthat I can t. Some text in gdlkn hrte to fil thr ganm fdkd fpfkdjsedsjekljs.</p>
          <div class="continue">
            <a [routerLinkActive]="['active']" [routerLink]="['/register']" class="btnMed">Get Inspired</a>
            <a class="moreLink" href="#">Learn More</a>
          </div>
        </div>
      </div>
      <div class="landingRight">
        <div class="gifArea">
          <div class="imageBoxContainer">
            <div class="imageBox"><img src="../../../assets//images/icecream@2x.png" /></div>
            <div class="imageBox"><img src="../../../assets//images/icecream@2x.png" /></div>
            <div class="imageBox"><img src="../../../assets//images/icecream@2x.png" /></div>
            <div class="imageBox"><img src="../../../assets//images/icecream@2x.png" /></div>
          </div>
        </div>
      </div>
    </div>
    <div class="imageBackground">
      <img src="../../../assets/images/Path 11.svg" />
      <div class="screenShot">
        <img src="../../../assets/images/Group 16@2x.png" />
      </div>
    </div>
  </div>
  <div class="affiliates">
    <div class="affRow">
      <div class="affiliate">One</div>
      <div class="affiliate">Two</div>
      <div class="affiliate">Three</div>
    </div>
  </div>
  <div class="moreInfo">
    <div class="column">
      <div class="row">
        <div class="infoBox">
          <i class="fas fa-book" style="color: #FF9700"></i>
          <h2>An archive of recipes</h2>
          <p>mply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          <p>mply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        <div class="infoBox">
          <i class="fas fa-desktop" style="color: #EA1E63"></i>
          <h2>Multi-Browser support</h2>
          <p>mply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          <p>mply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
      </div>
      <div class="row">
        <div class="infoBox">
          <i class="fas fa-save" style="color: #8BC24A"></i>
          <h2>Save them for later</h2>
          <p>mply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          <p>mply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        <div class="infoBox">
          <i class="fas fa-edit" style="color: #673BB7"></i>
          <h2>Edit your own</h2>
          <p>mply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          <p>mply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="mobileArea">
    <h2>Go Mobile</h2>
    <p>Explore recipes anywhere</p>
    <div class="phone"></div>
  </div>
  <!-- <div class="spacedArea">
    <div class="breakerBar"></div>
    <div class="infoPanel">
      <div class="infoPanelR">
        <h2>Create your own</h2>
        <p>mply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      </div>
      <div class="infoPanelL"><div class="infoPanelS"></div></div>
    </div>
    <div class="breakerBar"></div>
    <div class="infoPanel">
      <div class="infoPanelL"><div class="infoPanelS" style="float: right;"></div></div>
      <div class="infoPanelR" style="text-align: right;">
        <h2>Share with others</h2>
        <p>mply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      </div>
    </div>
    <div class="breakerBar"></div>
  </div>
  <div class="more">
    <div class="feature" id="feature-1">
      <i class="fas fa-money-bill-wave"></i>
      <h2>Headline</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error corrupti quaerat aspernatur.</p>
    </div>
    <div class="feature" id="feature-2">
      <i class="fas fa-cookie-bite"></i>
      <h2>Headline</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error corrupti quaerat aspernatur.</p>
    </div>
    <div class="feature" id="feature-3">
      <i class="fas fa-search"></i>
      <h2>Headline</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error corrupti quaerat aspernatur.</p>
    </div>
  </div> -->
  <!-- <div class="image-bar">
    <div class="about">
      <div class="profile-text">
        <h2>Professionals love it</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione aliquid, molestias velit iusto dolor neque. Commodi, consectetur. Tenetur facilis in, omnis animi maxime vero quod possimus dolore nihil
          distinctio. Veritatis.
        </p>
      </div>
      <div class="profile-image"><img src="https://picsum.photos/300/300/?random" height="100%" width="100%" /></div>
    </div>
  </div> -->
  <div class="bottomArea">
    <h1>What are you waiting for?</h1>
    <a [routerLinkActive]="['active']" [routerLink]="['/register']" href="#" class="startedButton">Get started</a>
  </div>
  <footer>
    <div class="navLeft"><a href="#" class="logoB">Recipeasy</a> <a href="#" class="subPoint">Privacy and Terms</a> <a href="#" class="subPoint">About Recipeasy</a></div>
    <div class="navRight">
      <a href="#" class="subPoint"><i class="far fa-question-circle" style="padding-right: 5px;"></i>Help</a>
    </div>
  </footer>
</div>
