/******* Global *******/
.home {
  /******* Vars *******/
  --main-text: #555555;
  --main-dark-text: #363636;
  --main-light-text: #696c80;
  --light-background: #e7e7e7;
  --button-color: #4286f5;
  --circle: #e7e7e7;
  --circle-top: #6d6d6d;
  --circle-bottom: #c5c5c5;

  min-height: 100%;
  max-width: 100vw;
  background-color: #fff;
  color: var(--main-text);
  overflow: hidden;
  z-index: -2;
}
.wrapper {
  width: 100%;
  position: relative;
  margin: auto;
  z-index: 2;
  color: var(--main-text);
  overflow: hidden;
}

/*** ***/
.initialScreen {
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

/******* Nav *******/
nav {
  width: 80%;
  margin: auto;
  margin-top: 58px;
  overflow: hidden;
  z-index: 100 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: var(--main-text);
  font-size: 18px;
  font-weight: 300;
  margin: 0 10px;
}
.navLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navRight {
  display: flex;
  align-items: center;
  /* margin-right: -10px; */
}
.logo {
  padding: 0;
  font-size: 32px;
  font-weight: 900;
  margin-right: 30px;
}
.subPoint {
  padding: 0;
  font-size: 17px;
  margin-left: 25px;
  /* font-weight: 900; */
}
.btnSmall {
  color: var(--button-color);
  border: var(--button-color) 2px solid;
  border-radius: 5px;
  font-size: 17px;
  padding: 0.6em 1.4em;
  text-align: center;
  transition: 0.15s all ease-in-out;
}
.btnSmall:hover {
  color: #fff;
  background-color: var(--button-color);
  transition: 0.15s all ease-in-out;
}

/******* Landing *******/
.landingArea {
  margin: auto;
  /* background-color: red; */
  margin-top: 170px;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  /* background-color: red; */
}
.landingLeft {
  /* margin: auto; */
}
.landingRight {
  /* margin: auto; */
}
.slogan {
  /* margin: 0 10px; */
}
.slogan h1 {
  margin: 0 auto;
  font-size: 60px;
  overflow: hidden;
  white-space: normal;
}
.slogan p {
  font-size: 17px;
  max-width: 450px;
  padding: 20px 0;
  /* white-space: pre-wrap; */
}

.continue {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btnMed {
  color: #fff;
  background-color: var(--button-color);
  border-radius: 5px;
  padding: 1.15em 2.3em;
  text-align: center;
  font-size: 17px;
  transition: 0.15s all ease-in-out;
}
.moreLink {
  margin-left: 50px;
  text-align: center;
  font-size: 16px;
}
.btnMed:hover {
  background-color: rgb(63, 0, 158);
  transition: 0.15s all ease-in-out;
}

.gifArea {
  margin: auto;
  height: 500px;
  width: 500px;
  overflow: hidden;
}
.imageBox {
  margin: 0;
  height: 500px;
  min-width: 500px;
  /* background-color: rgba(0, 0, 0, 0.274); */
}
.imageBox img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.imageBoxContainer {
  margin: auto;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: row;
  animation: slideShow 8.5s ease-in-out 0s infinite;
}
@keyframes slideShow {
  10% {
    transform: translateX(0);
  }
  15%,
  45% {
    transform: translateX(-500px);
  }
  50%,
  80% {
    transform: translateX(-1000px);
  }
  85%,
  100% {
    transform: translateX(-1500px);
  }
}

/******* Screenshot *******/
.imageBackground {
  width: 100vw;
  position: relative;
  overflow: hidden;
  display: flex;
}
.imageBackground img {
  z-index: -1;
  width: 100%;
  min-width: 1000px;
  height: 100%;
  position: absolute;
}
.screenShot {
  position: relative;
  margin: 70px auto;
  overflow: auto;
  z-index: 100 !important;
  overflow: hidden;
}
.screenShot img {
  position: relative;
  max-width: 1150px;
}

/*** Affiliates ***/
.affiliates {
  width: 100%;
  height: 180px;
  background-color: #f2f2f2;
}
.affRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 1170px;
  height: 100%;
}

/******* More info *******/
.moreInfo {
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  max-width: 1170px;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 75px 0;
}
.infoBox {
  width: 470px;
  font-size: 16px;
  font-weight: normal;
}
.infoBox i {
  font-size: 20px;
  padding-bottom: 10px;
}
.infoBox h2 {
  font-size: 30px;
  font-weight: normal;
  padding-bottom: 10px;
}
.infoBox p {
  padding-bottom: 15px;
  padding-right: 25px;
}

/******* Mobile area *******/
.mobileArea {
  background-color: #03a9f5;
  width: 100%;
  height: 750px;
  text-align: center;
  color: #fff;
  margin-bottom: 150px;
}
.mobileArea h2 {
  padding-top: 3%;
  padding-bottom: 1%;
  font-size: 50px;
  font-weight: normal;
}
.phone {
  height: 635px;
  width: 340px;
  border-radius: 15px;
  background-color: #efefef;
  margin: 75px auto;
  box-shadow: 0px 5px 25px 0px rgba(63, 71, 102, 0.5);
}

/******* Spaced Area *******/
.spacedArea {
  overflow: hidden;
}
.breakerBar {
  height: 200px;
  width: 18px;
  background-color: #e8e8e8;
  border-radius: 25px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.infoPanel {
  width: 60%;
  height: 350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
}
.infoPanelL {
  width: 50%;
  font-size: 17px;
}
.infoPanelR {
  width: 50%;
  padding-left: 100px;
}
.infoPanelR h2 {
  width: 80%;
  font-size: 50px;
  font-weight: normal;
  padding-bottom: 10px;
}
.infoPanelR p {
  width: 80%;
}
.infoPanelS {
  height: 350px;
  width: 600px;
  border-radius: 25px;
  float: left;
  background-color: #adadad;
}

/******* More *******/
.more {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.feature {
  --feature-color1: #d177f6;
  --feature-color2: #fed15a;
  --feature-color3: #00bcd5;
  width: 350px;
  background-color: #fff;
  box-shadow: 0px 5px 25px 0px rgba(63, 71, 102, 0.25);
  padding: 85px 30px 90px 30px;
  font-size: 17px;
  text-align: center;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.feature i {
  padding-bottom: 30px;
  font-size: 55px;
}
.feature h2 {
  font-weight: normal;
  font-size: 30px;
}
.feature p {
  width: 90%;
  padding-top: 30px;
  margin: auto;
  color: #9498b8;
}
#feature-1 {
  border-top: 5px solid var(--feature-color1);
}
#feature-1 i {
  color: var(--feature-color1);
}
#feature-2 {
  border-top: 5px solid var(--feature-color2);
}
#feature-2 i {
  color: var(--feature-color2);
}
#feature-3 {
  border-top: 5px solid var(--feature-color3);
}
#feature-3 i {
  color: var(--feature-color3);
}

/******* Image Bar *******/
.image-bar {
  margin-top: 300px;
  height: 400px;
  width: 100%;
  position: relative;
  background-color: #f6f6f6;
}
.about {
  width: 50%;
  height: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 5px 25px 0px rgba(63, 71, 102, 0.25);
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
}
.profile-text {
  background-color: #fff;
  width: 100px;
  padding: 6% 15% 6% 15%;
  flex: 1;
  border-radius: 15px;
  font-size: 17px;
}
.profile-text h2 {
  font-weight: normal;
  padding-bottom: 10px;
  font-size: 30px;
}
.profile-image {
  width: 280px;
  height: 280px;
  transform: scale(1.1);
  background-color: #adadad;
  box-shadow: 0px 5px 25px 0px rgba(63, 71, 102, 0.25);
  border-radius: 8px;
}
.profile-image img {
  border-radius: 8px;
}

/******* Bottom *******/
.bottomArea {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottomArea h1 {
  font-weight: normal;
  font-size: 50px;
}
.bottomArea a {
  margin-top: 25px;
  font-size: 17px;
  padding: 18px 40px;
  color: #fff;
  border-radius: 30px;
  background-color: #4286f5;
  transition: 0.15s all ease-in-out;
  cursor: pointer;
}
.bottomArea a:hover {
  background-color: #7aadff;
  transition: 0.15s all ease-in-out;
}

/******* Footer *******/
footer {
  padding-bottom: 50px;
  width: 72%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoB {
  font-size: 32px;
  font-weight: 900;
  margin-right: 50px;
}

/******* Other *******/

/* !REMOVE THIS */
/* Logged in page. */

.card {
  background-color: #fff;
  /* border: 1px solid #dadce0; */
  border-radius: 8px;
  padding: 20px;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 0 2rem rgba(0, 0, 99, 0.1);
}
.card:hover {
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.01), 0 15px 32px 0 rgba(0, 0, 0, 0.06); */

  transition: all 0.1s ease-in-out;
}

.search-bar {
  width: 100%;
  padding: 20px;
  overflow: hidden;
}
.search {
  border-radius: 25px;
  background-color: #fff;
  padding: 20px;
}
.input-field {
  font-family: inherit;
  flex-grow: 1;
  resize: none;
  font-size: 16px;
  width: 400px;
  font-weight: 200;
  padding: 10px 10px;
}

.picked {
  width: 100%;
  margin: auto;
}
.picked-card {
  padding: 10px;
  margin: 20px;
}

.cookbookTitle {
  margin: auto;
  text-align: left;
  font-family: "ProductSansRegular", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
.tTitle {
  font-size: 14pt;
}
.tNav {
}
.cookbooks {
  width: 100%;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
}
.cookbook {
  margin: 10px;
  width: 10vw;
  height: 10vw;
  min-width: 170px;
  min-height: 170px;
  display: inline-block;
  align-content: center;
}
.tImage {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.tPic {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: #f953c6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b91d73, #f953c6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.tImageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(39, 39, 39, 0.6);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  border-radius: 8px;
}
.tImage:hover .tImageOverlay {
  transition: all 0.3s ease-in-out 0s;
  opacity: 1;
}
.tImageFav {
  font-size: 24pt;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  cursor: default;
}
.tInfo {
  width: 100%;
  padding-top: 5px;
  font-size: 10pt;
  margin: auto;
  text-align: left;
  font-family: "ProductSansRegular", sans-serif;
  white-space: normal;
}
.tInfo-title {
  display: inline-block;
}
.tInfo-title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.tFol {
  padding-top: 5px;
  font-size: 9pt;
}
.unclickable,
.unclickable:hover {
  color: rgba(82, 82, 82, 0.445);
  cursor: default !important;
}

.dash-area {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.info {
  flex-grow: 1;
  min-width: 400px;
  height: 400px;
  margin: 20px;
}
.trending {
  width: 375px;
  min-height: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.trending-title {
  padding: 10px;
}
.trending-recipe {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 90%;
  border-radius: 3px;
  margin-top: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.075);
}
.trending-recipe:hover {
  background-color: rgba(0, 0, 0, 0.253);
  cursor: pointer;
}
