.navbar {
  width: 100%;
  height: 59px;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-bottom: #e2e2e2 1px solid;
}

/*** Button to toggle sidebar ***/
.sidebarToggle {
  font-size: 16pt;
  z-index: 1;
}
.sideToggle {
  cursor: pointer;
}
.sideGraphic {
  background-color: #192b4000;
  width: 300px;
  height: 100%;
  transition: all 0.275s ease-out 0s;
  position: absolute;
  align-self: flex-start;
}
.wideGraphic {
  width: 0px;
  transition: all 0.25s ease-out 0s;
}

/*** Logo area ***/
.leftNav {
  display: flex;
  /* background-color: #4286f5; */
  height: 100%;
  padding: 0 50px;
  align-items: center;
  justify-content: space-evenly;
}
.logoArea {
  font-family: "ProductSansRegular", sans-serif;
}
.logo {
  font-size: 22pt;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}
.logoContainer {
  display: table-cell;
  vertical-align: middle;
  opacity: 1;
  transition: all 0.2s ease-out 0.2s;
}
.hidden {
  opacity: 0;
  transition: all 0.2s ease-out 0s;
}

/*** Main nav area ***/
.rightNav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* background-color: green; */
  padding-left: 20px;
}

/*** Search bar ***/
.searchBar {
  height: 65%;
  display: flex;
  align-items: center;
  position: relative;
}
.searchBar input {
  height: 100%;
  width: 200px;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 45px;
  border: #e2e2e2 1px solid;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "ProductSansRegular", sans-serif;
  transition: all 0.4s ease-in-out 0s;
}
.searchBar input:focus {
  width: 400px;
  border: #92b1ff 2px solid;
  transition: all 0.4s ease-in-out 0s;
}
.searchBar input::placeholder {
  color: #afafaf;
}
.searchBar i {
  color: #e2e2e2;
  position: absolute;
  right: 0;
  padding-right: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
  visibility: visible;
  opacity: 1;
}

.textPresent {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: all 0.2s ease-in-out 0s;
}

.profileInformation {
  margin-left: 30px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.username {
  margin-right: 10px;
  cursor: pointer;
}
.profileIcon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
  border: #e2e2e2 1px solid;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}
