<div class="navbar">
  <!-- <div class="sideGraphic" [ngClass]="{ wideGraphic: toggle == true }"></div> -->
  <div class="leftNav">
    <div class="sidebarToggle"><i *ngIf="authService.loggedIn()" class="fas fa-bars sideToggle" (click)="sideToggle()"></i></div>
    <div class="logoArea">
      <div class="logoContainer" [routerLinkActive]="['active']" [routerLink]="['/']"><a class="logo" [routerLink]="['/']">Recipeasy</a></div>
    </div>
  </div>
  <div class="navbarContent">
    <div class="searchBar"><i class="fas fa-search"></i> <input type="text" [(ngModel)]="searchQuery" (keyup.enter)="enterSearch()" /></div>
    <div class="profileInformation">
      <div class="username">
        <a (click)="onLogoutClick()" href="#">{{ user }}</a>
      </div>
      <div class="profileIcon" [routerLinkActive]="['active']" [routerLink]="['/profile']"></div>
    </div>
    <!-- <div class="navbar-area">
      <div *ngIf="authService.loggedIn()" class="nav-item dropdown">
        <div class="nav-link-area" [routerLinkActive]="['active']" [routerLink]="['/recipes/saved']"><a class="nav-link drp-btn" [routerLinkActive]="['active']" [routerLink]="['/recipes']">Saved</a></div>
        <ul class="drp-nav">
          <li class="nav-sub-item"><a class="nav-sub-link" [routerLinkActive]="['active']" [routerLink]="['/recipes/saved']">Recipes</a></li>
          <li class="nav-sub-item"><a class="nav-sub-link" [routerLinkActive]="['active']" [routerLink]="['/cookbooks']">Cookbooks</a></li>
        </ul>
      </div>
      <div *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLink]="['recipes/saved']">
        <div class="nav-link-area"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['recipes/saved']">Published</a></div>
      </div>
      <div *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLink]="['recipes/create']">
        <div class="nav-link-area"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['recipes/create']">Create</a></div>
      </div>
    </div>
    <div class="account-area">
      <div class="account-container">
        <div *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLink]="['/login']">
          <div class="nav-link-area"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/login']">Log in</a></div>
        </div>
        <div *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLink]="['/register']">
          <div class="nav-link-area"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/register']">Register</a></div>
        </div>
        <div *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLink]="['/profile']">
          <div class="nav-link-area"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/profile']">Profile</a></div>
        </div>
        <div *ngIf="authService.loggedIn()" class="nav-item" (click)="onLogoutClick()" href="#">
          <div class="nav-link-area"><a class="nav-link" (click)="onLogoutClick()" href="#">Log out</a></div>
        </div>
      </div>
    </div> -->
  </div>
  <!-- <div class="navbar-end"></div> -->
</div>
