<div class="navbar">
  <!-- <div class="sideGraphic" [ngClass]="{ wideGraphic: toggle == true }"></div> -->
  <div class="leftNav">
    <div class="logoArea">
      <div class="logoContainer" [ngClass]="{ hidden: big }" [routerLinkActive]="['active']" [routerLink]="['/']"><a class="logo" [routerLink]="['/']"># Recipeasy</a></div>
    </div>
  </div>
  <div class="middleNav"></div>
  <div class="rightNav">
    <div class="searchBar"><i class="fas fa-search"></i> <input type="text" [(ngModel)]="searchQuery" (keyup.enter)="enterSearch()" placeholder="Search..." /></div>
    <div class="profileInformation">
      <div class="profileIcon" [routerLinkActive]="['active']" [routerLink]="['/profile']"></div>
    </div>
  </div>
</div>
