.sidenav {
  /*** Vars ***/
  --primary-color: #5292ee;
  --secondary-color: #a3a3a3;
  --nav-big: 299px;
  --nav-small: 59px;
  /* min-width: 80px !important;
  max-width: 80px !important;
  width: 80px !important; */
  min-height: 100vh;
  transition: width 0.5s ease-in-out;
}

.wrapper {
  position: fixed;
  background-color: #ffffff;
  height: 100vh;
  overflow: hidden;
}

i {
  cursor: pointer;
  color: #5e5e5e;
}
a {
  text-decoration: none;
  color: inherit;
}

/*** Small ***/
.smallNav {
  width: var(--nav-small);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 22px;
  transition: all 0.3s ease-in-out 0.1s;
}
.topNav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottomNav {
  padding-left: 5px;
  padding-bottom: 10px;
}

.sidebarToggle {
  height: 60px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
}
.sidebarToggle span {
  width: 100%;
  margin-left: 20px;
  padding-right: 40px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  /* background-color: red; */
}

.navSection {
  margin: 30px 0px;
}

.navItem {
  width: 100%;
  text-align: center;
  font-size: 22px;
  padding: 15px 0;
  /* margin-top: 10px; */
  cursor: pointer;
  border-left: transparent 10px solid;
  margin-left: -10px;
  box-sizing: border-box;
  color: #5e5e5e;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.navItem:hover {
  color: var(--secondary-color);
}
.navWide {
  width: var(--nav-big);
  transition: all 0.3s ease-in-out 0.1s;
}
.navItem i {
  margin-left: 13px;
  margin-right: 18px;
}
.navItem span {
  font-size: 18px;
}

.activeLink {
  border-left: var(--primary-color) 10px solid;
  color: var(--primary-color);
}

/*** Sub items ***/
.subList {
  /* background-color: red; */
  width: 100%;
  margin-left: 52px;
  overflow: hidden;
  border-left: #5e5e5e 3px solid;
  padding-left: 7px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}
.subItem {
  white-space: nowrap;
  font-size: 17px;
  padding: 5px 0;
  cursor: pointer;
  color: #b1b1b1;
}
.subItem:hover {
  color: #5e5e5e;
}

.hideDrop {
  max-height: 0 !important;
}
