<div class="edit-dialog">
  <h2 style="padding-bottom: 10px">Edit cookbook</h2>
  <div class="edit-area">
    <div class="left">
      <div class="image-area"></div>
      <div class="public-switch noselect">
        <div class="switch-button" [ngClass]="{'switch-good': public}" (click)="public=true">Public</div>
        <div class="switch-button switch-right" [ngClass]="{'switch-bad': !public}" (click)="public=false">Private</div>
      </div>
    </div>
    <div class="right">
      <div class="input-area">
        <input type="text" class="input-field" [(ngModel)]="name" name="title" placeholder="Name" maxlength="64">
      </div>
      <div class="input-area">
        <textarea class="input-field" [(ngModel)]="description" rows="8" type="text" maxlength="199" name="description"
          placeholder="Description"></textarea>
      </div>
    </div>
  </div>
  <div class="button-area">
    <input class="submit-button" type="button" (click)="update()" value="Update">
    <input class="submit-button cancel" type="button" (click)="close()" value="Cancel">
  </div>
</div>