<div class="history">
  <div class="wrapper">
    <h1>Recommended</h1>
    <div class="breakLine"></div>
    <div *ngIf="loading">
      Loading
    </div>
    <div class="historyArea" *ngIf="!loading">
      <div class="historyTile" *ngFor="let item of recipeData">
        <div class="historyImage" (click)="viewItem(item)">
          <img [ngClass]="{ hidden: !item?.image }" src="{{ generalService.getImageLink(item?.image) }}" #rImg />
          <div class="historyOverlay"></div>
        </div>
        <div class="historyInfo">
          <h3 (click)="viewItem(item)">{{ item.title | textLimit: 50 }}</h3>
          <p>{{ item.description | textLimit: 50 }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
